<div class="item">
                <div>Avatar URL</div>
                <input 
                type="url"
                name="avatar_url"
                placeholder="https://"
                required
                value = "{{ student.avatar_url }}"
                >
            </div>

            <div class="item">
                <div>Nome Completo:</div>
                <input 
                type="text"
                name="name"
                required
                value="{{ student.name }}"
                >
            </div>

            <div class="item">
                <div>Email:</div>
                <input 
                type="email"
                name="email"
                required
                value="{{ student.email }}"
                >
            </div>

            <div class="item">
                <div>Data de Nascimento:</div>
                <input 
                type="date" 
                name="birth_date"
                required
                value="{{ student.birth_date }}"
                >
            </div>

            <div class="item">
                <div>Ano escolar:</div>
                <select name="school_level">
                    <option value="" selected disabled>
                        clique para escolher
                    </option>

                    <option value="5EF" {% if student.school_level == "5EF" %} selected {% endif %}>
                        5º ano - Fundamental
                    </option>

                    <option value="6EF" {% if student.school_level == "6EF" %} selected {% endif %}>
                        6º ano - Fundamental
                    </option>

                    <option value="7EF" {% if student.school_level == "7EF" %} selected {% endif %}>
                        7º ano - Fundamental
                    </option>

                    <option value="8EF" {% if student.school_level == "8EF" %} selected {% endif %}>
                        8º ano - Fundamental
                    </option>

                    <option value="9EF" {% if student.school_level == "9EF" %} selected {% endif %}>
                        9º ano - Fundamental
                    </option>

                    <option value="1EM" {% if student.school_level == "1EM" %} selected {% endif %}>
                        1º ano - Ensino médio
                    </option>

                    <option value="2EM" {% if student.school_level == "2EM" %} selected {% endif %}>
                        2º ano - Ensino médio
                    </option>

                    <option value="3EM" {% if student.school_level == "3EM" %} selected {% endif %}>
                        3º ano - Ensino médio
                    </option>

                </select>
            </div>

            <div class="item">
                <div>Carga horária (por semana):</div>
                <input 
                type="number" 
                name="workload"
                placeholder="5... horas por semana"
                value="{{ student.workload }}">
            </div>

            <div class="item">
                <div>Professor:</div>
                <select name="teacher_id">
                    <option value="" selected disabled invalid>
                        clique para escolher
                    </option>
                    {% for teacher in teacherOptions %}
                    <option value="{{ teacher.id }}" {% if student.teacher_id == teacher.id %} selected {% endif %}>
                        {{ teacher.name }}
                    </option>
                    {% endfor %}

                </select>
            </div>
            
            <button type="submit">Salvar</button>