{% extends "layout.njk" %}

{% block head %}
    <title>Students - Private lessons</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">
        
        <a href="/students/create">Criar</a>

        <table width="100%">
            <thead>
                <tr>
                    <th>nome completo</th>
                    <th>Email</th>
                    <th>Ano escolar</th>
                    <th>ação</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatar_url }})"></span>
                            {{ student.name }}
                        </td>

                        <td>{{ student.email }}</td>

                        <td>{{ student.school_grade }}</td>

                        <td>
                            <a class="button_see" href="/students/{{ student.id }}">ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
</div>
{% endblock content %}