{% extends "layout.njk" %}

{% block head %}
    <title>Students - Private lessons</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">
        
        <div class="header">
            <a class="button" href="/students/create">Criar</a>

            <form action="/students" method="get">
                <input 
                type="text" 
                name="filter"
                placeholder="Nome ou Email"
                value= "{{ filter }}"
                >

                <button type="submit">Filtrar</button>
            </form>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>nome completo</th>
                    <th>Email</th>
                    <th>Ano escolar</th>
                    <th>ação</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatar_url }})"></span>
                            {{ student.name }}
                        </td>

                        <td>{{ student.email }}</td>

                        <td>{{ student.school_level }}</td>

                        <td>
                            <a class="button_see" href="/students/{{ student.id }}">ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
            data-page="{{pagination.page}}"
            data-total="{{pagination.total}}"
            data-filter="{{filter}}"
        >
        </div>
    </section>
</div>
{% endblock content %}