{% extends "layout.njk" %}

{% block head %}
    <title>{{ student.name }}
        - Private lessons</title>
{% endblock head %}

{% block content %}

    <div class="card">
        <div class="success-lottie">
            <h2>Sucess</h2>
        </div>
    </section>
</div>
{% endblock content %}

{% block scripts %}
<script src="/scripts/lottie.min.js"></script>
<script>
    const element = document.querySelector('.success-lottie')

    lottie.loadAnimation({
        container: element, // the dom element that will contain the animation
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '/6147-success-badge-animation' // the path to the animation json
    });
</script>
{% endblock scripts %}