{% extends "layout.njk" %}

{% block head %}
    <title>{{ text }}</title>
{% endblock head %}

{% block content %}

    <div class="card register">
        <div class="success-lottie"></div>
        <h2>{{ text }}.</h2>
    </section>
</div>
{% endblock content %}

{% block scripts %}
<script src="/scripts/lottie.min.js"></script>
<script>
    const element = document.querySelector('.success-lottie')

    lottie.loadAnimation({
        container: element, // the dom element that will contain the animation
        renderer: 'svg',
        loop: false,
        autoplay: true,
        path: '/4431-success.json' // the path to the animation json
    })
    .setSpeed(1)


    document.querySelector('body').addEventListener('load', redirectTo({{redirectTo}}))
</script>
{% endblock scripts %}