{% extends "layout.njk" %}

{% block head %}
    <title>Teachers - Private lessons</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">

        <table width="100%">
            <thead>
                <tr>
                    <th>nome completo</th>
                    <th>acompanhamento</th>
                    <th>ação</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{ teacher.name }}
                        </td>

                            <td>
                        {% for lesson in teacher.lessons %}
                               <div class="item">
                                   <span>{{ lesson }}</span>
                               </div> 
                        {% endfor %}
                            </td>

                        <td>
                            <a class="button_see" href="/teachers/{{ teacher.id }}">ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
</div>
{% endblock content %}