{% extends "layout.njk" %}

{% block head %}
    <title>Teachers - Private lessons</title>
{% endblock head %}

{% block content %}
    <div class="card">
        <section 
        class="card__img"
        style="background: url(https://source.unsplash.com/collections/9976614/500x500)"></section>
    </div>
{% endblock content %}